<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${productMes.courseName}"></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="qc:admins" content="557726247637761736417">
    <link th:href="${'../../css/details.css'}" rel="stylesheet" type="text/css">
    <script th:src="${'../../js/jquery-1.11.3.min.js'}"></script>
    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.5.1/skins/default/aliplayer-min.css" />
    <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.5.1/aliplayer-min.js"></script>
    <script th:src="@{/js/jquery.js}"></script>
</head>

<body>

<div id="det_all" th:vid="${productId}">
    <div class="play_panel">
        <div class="container">
            <p class="crumb">
                <a href="/product/">吧啦吧啦首页</a> &gt;
                <a href="/product/">课程列表</a> &gt;
                <span class="det_title" th:text="${productMes.courseName}"></span>
            </p>
            <input type="hidden" id="vid" value="">
            <input type="hidden" id="pid" value="">
            <div class="box_one">
                <div class="play_box" isrc=""
                     style="background-image:url('')">
                    <div id="viewBox" class="view_box"
                         isrc="" name="">
                        <div  class="prism-player view_box" id="J_prismPlayer" style="position: absolute"></div>
                    </div>





                    <div class="player_panel">
                        <ul class="player_nav">
                            <li class="op_chapter" btn="true"><i></i><span>章节</span></li>
                            <li class="op_question">
                                <a href=""><i></i><span>提问</span></a>
                            </li>
                            <li class="op_phone">
                                <span>手机观看</span>
                                <div class="ewm_box">
                                    <p>扫码下载安卓APP</p>
                                    <img src="./d_files/app_icon.png" alt="龙果安卓APP">
                                </div>
                            </li>
                        </ul>
                        <div class="chapter_panel">
                            <h3 class="title" th:text="${productMes.courseName}"></h3>
                            <div class="chapter_list">


                                <dl th:each="productDetail,iterStat:${productDetailList} ">
                                    <dd th:title="${productDetail.courseTitle}" th:vid="${productDetail.courseDetailId}" th:aid="${productDetail.courseDetailAiliId}" onClick="getAuth(this)" vcode="">
												<span class="c_name"  >
	                                            <em th:text="${iterStat.index}+1+' -'"></em>
                                                <span>(免费)</span>
                                                    <em th:text="${productDetail.courseTitle}"></em>
												</span>

                                        <span class="c_time" th:text="${productDetail.courseTime}+'分钟'"></span>
                                    </dd>

                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course_info_panel">
                    <h3 id="courseName" th:text="${productMes.courseName}"></h3>
                    <span id="favor" class="favor"></span>

                    <div class="price_panel">
                        优惠价：
                        <span class="price"><i>￥</i> <span th:text="${productMes.courseSalePrice}"></span></span>
                        <div id="activityPanel" class="activity_panel"></div>
                    </div>

                    <div class="more_info">
                        <p class="">难&nbsp;&nbsp;&nbsp;&nbsp;度：<span class="grade" th:text="${productMes.courseDiffculty}"></span></p>
                        <p class="">课&nbsp;&nbsp;&nbsp;&nbsp;时： <span class="grade"
                                                                      th:text="${productMes.courseNum}"></span></p>
                        <p class="">讲&nbsp;&nbsp;&nbsp;&nbsp;师：<span class="grade"
                                                                     th:text="${productMes.courseTeacher}"></span></p>
                        <p class="">学习人数：<span class="grade" th:text="${productMes.courseTimes}"></span></p>
                    </div>
                    <div class="one_btn2">
                        <input type="button" value="购买课程" op="199" fp="199" cid="e2b459016e2e477dbd5d67c8b23fe86d" da=""
                               ap="" class="one_click" id="oneClick">&nbsp;&nbsp;&nbsp;&nbsp;
                        <a target="_blank" class="zx_btn"
                           href="">购买咨询</a>
                    </div>
                    <p class="one_btn2">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="box_two" id="boxTwo">
        <div class="container">
            <div class="main_panel">
                <div class="tabs_column">
                    <div class="tabs_box">

                        <a tid="mu_itu" href=""
                           class="on">课程介绍</a>
                        <a tid="mulu" href="">课程目录</a>
                        <a tid="wenda" name="jswd"
                           href="">技术问答</a>

                        <p class="fr">
                            <input type="button" value="购买课程" op="199" fp="199" cid="e2b459016e2e477dbd5d67c8b23fe86d"
                                   da="" ap="" class="one_click" id="oneClick2">
                        </p>
                    </div>
                </div>
                <div class="">
                    <div class="tabs_panel" id="mulu">
                        <h6><i></i>课程大纲</h6>
                        <div class="catalog_panel">
                            <ul class="catalog_list" th:each="productDetail,iterStat:${productDetailList}">
                                <li class="">
                                    <em class="no">第1节</em>
                                    <p th:title="${productDetail.courseTitle}" class="periods_name"
                                       th:text="${productDetail.courseTitle}"></p>
                                    <i class="p_icon"> [免费观看]</i>
                                    <div class="fr">
                                        <span class="l_time" th:text="${productDetail.courseTime}">00:05:42分钟</span>
                                        <input title="马上观看" th:vid="${productDetail.courseDetailId}" vcode=""
                                               class="view_btn goStudyFlag" type="button">
                                        <i>|</i>
                                        <span class="notdoc_btn"></span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="tabs_panel on" id="mu_itu">
                        <h6><i></i>课程介绍</h6>
                        <div class="describe">
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>

                            免费吉他教学视频

                            <p>未经作者允许进行翻录和倒卖的，将进行相关的法律维权。&nbsp;&nbsp;<br></p>
                            <p></p>
                            <p><br></p>
                            <p></p>
                            <p><br></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>

                            免费吉他教学视频

                            <p>未经作者允许进行翻录和倒卖的，将进行相关的法律维权。&nbsp;&nbsp;<br></p>
                            <p></p>
                            <p><br></p>
                            <p></p>
                            <p><br></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>

                            免费吉他教学视频

                            <p>未经作者允许进行翻录和倒卖的，将进行相关的法律维权。&nbsp;&nbsp;<br></p>
                            <p></p>
                            <p><br></p>
                            <p></p>
                            <p><br></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>

                            免费吉他教学视频

                            <p>未经作者允许进行翻录和倒卖的，将进行相关的法律维权。&nbsp;&nbsp;<br></p>
                            <p></p>
                            <p><br></p>
                            <p></p>
                            <p><br></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>

                            免费吉他教学视频

                            <p>未经作者允许进行翻录和倒卖的，将进行相关的法律维权。&nbsp;&nbsp;<br></p>
                            <p></p>
                            <p><br></p>
                            <p></p>
                            <p><br></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>

                            免费吉他教学视频

                            <p>未经作者允许进行翻录和倒卖的，将进行相关的法律维权。&nbsp;&nbsp;<br></p>
                            <p></p>
                            <p><br></p>
                            <p></p>
                            <p><br></p>
                        </div>









                        <h6 ><i></i>课程大纲</h6>
                        <div class="catalog_panel">
                            <ul class="catalog_list" th:each="productDetail,iterStat:${productDetailList}">
                                <li class=" ">
                                    <em class="no" th:text="'第'+ (${iterStat.index}+1)+'节'"></em>
                                    <em th:tiltle="${productDetail.courseTitle}" th:text="${productDetail.courseTitle}"></em>
                                    <!-- 免费 -->
                                    <i class="p_icon"> [免费观看]</i>
                                    <div class="fr">
                                        <span class="l_time" th:text="${productDetail.courseTime}+'分钟'"></span>
                                        <input title="马上观看" pid=""   vid="" vcode=""   class="view_btn goStudyFlag" type="button">
                                        <i>|</i>
                                        <span class="notdoc_btn"></span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div id="wenda" class="tabs_panel">
                        <div id="QAList">
                            <div class="list-wrap" data-reactid=".0">
                                <div class="nodata" data-reactid=".0.0">暂无相关问答</div>
                            </div>
                        </div>
                        <div class="my_qa">
                            <div class="my_qa_panel">
                                <div class="not_login_tip">
                                    <p>您还没有登录！请先
                                        <a href=""
                                           class="login_go">登录</a>
                                        或
                                        <a href=""
                                           class="register_go">注册</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="side_panel">
                <!-- 课程信息 -->

                <!-- 推荐课程 -->
                <div class="item_panel">
                    <h3 class="title"><span>相关课程</span></h3>
                    <div class="panel_box">
                        <!--<ul class="hots_course">-->
                            <!--<li>-->
                                <!--<a href=""-->
                                   <!--target="_blank"> <img src="./d_files/4bcfa06011334a22bbc7ebe47cd9cb39.jpg" alt="">-->
                                    <!--<p>基于Dubbo的分布式系统架构实战</p>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href=""-->
                                   <!--target="_blank"> <img src="./d_files/30ee83e5e0824f83b38fadb3265dc619.jpg" alt="">-->
                                    <!--<p>微服务架构的分布式事务解决方案（Dubbo分布式事务处理）</p>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href=""-->
                                   <!--target="_blank"> <img src="./d_files/ec8a20af4dcd42bfb88a25bc34ca5d97.jpg" alt="">-->
                                    <!--<p>Java并发编程原理与实战</p>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href=""-->
                                   <!--target="_blank"> <img src="./d_files/36039b4793c740caaa1377014c676437.jpg" alt="">-->
                                    <!--<p>从无到有搭建中小型互联网公司后台服务架构与运维架构</p>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href=""-->
                                   <!--target="_blank"> <img src="./d_files/c724e02b61ec43c4bb339e539c435260.jpg" alt="">-->
                                    <!--<p>spring与dubbo分布式REST服务开发实战</p>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href=""-->
                                   <!--target="_blank"> <img src="./d_files/7d0ea99102c54fc78eadd55206251bd6.jpg" alt="">-->
                                    <!--<p>Spring Cloud 第一季</p>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    </div>
                </div>
                <!-- 讲师信息 -->
                <div class="item_panel lecturer_panel">
                    <h3 class="title"><span>讲师简介</span></h3>
                    <div class="panel_box">
                        <div class="lecturer_name" id="lecturerId" lid="d28b9f973529497196c1ffc6be8e1ed4">
                            <a href="" target="_blank">
                                <i><img src=""></i>
                                <p th:text="${productMes.courseTeacher}"></p>
                            </a>
                        </div>
                        <p class="lecturer_info">
                        这是一位王者荣耀资深玩家，拥有超级菜的技术和打团意识，擅长射手李元芳 壁虎  中单诸葛亮， 贼 菜！
                        </p>
                    </div>
                </div>

                <div class="item_panel">
                    <h3 class="title"><span>学员动态</span></h3>
                    <ul class="user_list">
                        <li class="">
                            <div class="face"><img src="./d_files/face.png" alt=""></div>
                            <div class="name"><span>2439****</span> 开始学习</div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="${'../../js/loadJs.js'}"></script>
<script th:inline="javascript">

</script>
</body>

</html>

<script th:inline="javascript">
var args ,   vid ;


    function getAuth(obj) {
        vid =$(obj).attr("aid");

        $.ajax({
            url: "/play/"+$(obj).attr("aid"),
            type: 'post',
//            dataType: 'json',
            async: false,
            data: null,
            success: function (data) {
//                alert(data);
                args=data;
            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
        });
        var player = new Aliplayer({
            id: 'J_prismPlayer',
            width: '100%',
            height:"100%",
            autoplay: true,
            vid : vid,
            playauth : args,
            useFlashPrism:true

        },function(player){
            console.log('播放器创建好了。')
        });
        $(".op_chapter").click();

    }








</script>