@charset "utf-8";

/* CSS Document */


/*通用样式*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, i, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baselinebaseline;
}

:focus {
	outline: 0;
}

:hover {}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #333;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

th, td {
	text-align: left;
	font-weight: normal;
}

img, iframe {
	border: none;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

i {
	font-style: normal;
}

input, textarea, select, button {
	font-size: 100%;
	font-family: inherit;
	vertical-align: middle;
}

select {
	/*margin:inherit;*/
}

hr {
	margin: 0;
	padding: 0;
	border: 0;
	color: #000;
	background-color: #000;
	height: 1px
}

.h5 {
	height: 5px;
}

.h10 {
	height: 10px;
}

.h15 {
	height: 15px;
}

.h20 {
	height: 20px;
}

.font14 {
	font-size: 14px;
}

.font16 {
	font-size: 16px;
}

body {
	font-size: 12px;
	font-family: "微软雅黑", Arial;
	color: #666;
	background-color: #fafafa;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.all_bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	z-index: 1000;
	_position: absolute;
	width: 200%;
	background: url(../images/all_bg.png);
	_background: none;
	display: none;
	z-index: 1000;
}

.w1000 {
	width: 1000px;
	margin: auto;
}

.bd_1 {
	border: 1px #ddd solid;
}

.bd_2 {
	border: 1px #ddd solid;
}

.bd_3 {
	border: 1px #ddd solid;
}

.bg_1 {
	background-color: #f1f1f1;
}

.bg_2 {
	background-color: #f1f1f1;
}

.bg_3 {
	background-color: #f1f1f1;
}

.shadow_1 {
	box-shadow: 0 1px 2px 0 rgba(187, 187, 187, 0.4);
}

.shadow_2 {
	box-shadow: 0px 0px 10px 0px rgba(187, 187, 187, 0.8);
}

.a_1 {
	color: #333;
}

.a_1:hover {
	color: #666;
}

.a_2 {
	color: #333;
}

.a_2:hover {
	color: #666;
}

.a_3 {
	color: #333;
}

.a_3:hover {
	color: #666;
}

.none {
	display: none;
}

.block {
	display: block;
}

.mauto {
	margin: auto;
}

.tran_1 {
	transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.aImg, .aImg img {
	display: block;
	width: 100%;
	height: 100%;
}

.po-re {position: relative;}


/*
overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
opacity:0.6;filter:alpha(opacity=60);

transition: all 1s ease 0s;
-ms-transition: all 1s ease 0s;	
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s;
-o-transition: all 1s ease 0s;	

transform: rotate(-2deg) scale(1,1);
-ms-transform: rotate(-2deg) scale(1,1);
-moz-transform: rotate(-2deg) scale(1,1);
-webkit-transform: rotate(-2deg) scale(1,1);
-o-transform: rotate(-2deg) scale(1,1);

animation: myfirst 1s linear 0s infinite normal;
-moz-animation: myfirst 1s linear 0s infinite normal;
-webkit-animation: myfirst 1s linear 0s infinite normal;
-o-animation: myfirst 1s linear 0s infinite normal;	

@keyframes myfirst
{
0%   {}
100%   {}
}

@-moz-keyframes myfirst
{
0%   {}
100%   {}
}

@-webkit-keyframes myfirst
{
0%   {}
100%   {}
}

@-o-keyframes myfirst
{
0%   {}
100%   {}
}
*/


/*hover(3fa2d0->5fc0ed)*/

.gradient-hor-og {
	background: #ffae12;
	background: -moz-linear-gradient(left, #ffae12 0, #f07d17 100%);
	background: -webkit-gradient(linear, left, right, color-stop(0, #ffae12), color-stop(100%, #f07d17));
	background: -webkit-linear-gradient(left, #ffae12 0, #f07d17 100%);
	background: -o-linear-gradient(left, #ffae12 0, #f07d17 100%);
	background: -ms-linear-gradient(left, #ffae12 0, #f07d17 100%);
	background: -webkit-gradient(linear, left top, right top, from(#ffae12), to(#f07d17));
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
	background: linear-gradient(to right, #ffae12 0, #f07d17 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#ffae12, endColorstr=#f07d17);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#ffae12, endColorstr=#f07d17)"
}

.gradient-ver-og {
	background: #ffae12;
	background: -moz-linear-gradient(top, #ffae12 0, #f07d17 100%);
	background: -webkit-gradient(linear, top, bottom, color-stop(0, #ffae12), color-stop(100%, #f07d17));
	background: -webkit-linear-gradient(top, #ffae12 0, #f07d17 100%);
	background: -o-linear-gradient(top, #ffae12 0, #f07d17 100%);
	background: -ms-linear-gradient(top, #ffae12 0, #f07d17 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffae12), to(#f07d17));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffae12), to(#f07d17));
	background: linear-gradient(to bottom, #ffae12 0, #f07d17 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffae12, endColorstr=#f07d17);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffae12, endColorstr=#f07d17)"
}

.gradient-ver-wb {
	opacity: .4 \9 \0;
	background: #000;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, .4) 0, transparent 100%);
	background: -webkit-gradient(linear, top, bottom, color-stop(0, rgba(0, 0, 0, .4)), color-stop(100%, transparent));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, .4) 0, transparent 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, .4) 0, transparent 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, .4) 0, transparent 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .4)), to(transparent));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .4)), to(transparent));
	background: linear-gradient(to bottom, rgba(0, 0, 0, .4) 0, transparent 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000, endColorstr=#ffffff) alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000, endColorstr=#ffffff) alpha(opacity=50)"
}

.gradient-ver-bw {
	background: #000;
	background: -moz-linear-gradient(bottom, rgba(0, 0, 0, .4) 0, transparent 100%);
	background: -webkit-gradient(linear, bottom, top, color-stop(0, rgba(0, 0, 0, .4)), color-stop(100%, transparent));
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .4) 0, transparent 100%);
	background: -o-linear-gradient(bottom, rgba(0, 0, 0, .4) 0, transparent 100%);
	background: -ms-linear-gradient(bottom, rgba(0, 0, 0, .4) 0, transparent 100%);
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .4)), to(transparent));
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, .4)), to(transparent));
	background: linear-gradient(to top, rgba(0, 0, 0, .4) 0, transparent 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000, endColorstr=#ffffff);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000, endColorstr=#ffffff)"
}

.gra-ver-yl {
	background: #fac364;
	background: -moz-linear-gradient(top, #fac364 0, #cc953d 100%);
	background: -webkit-gradient(linear, top, bottom, color-stop(0, #fac364), color-stop(100%, #cc953d));
	background: -webkit-linear-gradient(top, #fac364 0, #cc953d 100%);
	background: -o-linear-gradient(top, #fac364 0, #cc953d 100%);
	background: -ms-linear-gradient(top, #fac364 0, #cc953d 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#fac364), to(#cc953d));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fac364), to(#cc953d));
	background: linear-gradient(to bottom, #fac364 0, #cc953d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fac364, endColorstr=#cc953d);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fac364, endColorstr=#cc953d)"
}

.wrap {
	width: 1450px;
	margin: 0 auto;
}

.swiperBox {
	height: 240px;
	position: relative;
}

.swiperBox .swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiperBox .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiperBox .swiper-slide a, .swiperBox .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.swiperBox .swiper-slide a {
	position: relative;
	overflow: hidden;
}

.swiperBox .swiper-slide h2 {
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.swiperBox .swiper-slide a:hover h2 {
	height: 100%;
}

.swiperBox .swiper-slide h3 {
	color: #fff;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 60px;
	display: table;
	font-size: 20px;
}

.swiperBox .swiper-slide a:hover h3 {
	height: 100%;
}

.swiperBox .swiper-slide a h3 span {
	display: table-cell;
	vertical-align: middle;
}

.swiperBox .swiper-slide a:hover h3 span strong {
	border-bottom: 3px #fff solid;
	padding: 0 15px 7px;
}

.swiperBox .swiper-button-prev {
	background: url(../images/icon_left.png) no-repeat center center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	left: -60px;
}

.swiperBox .swiper-button-prev:hover {
	background: url(../images/icon_left-2.png) no-repeat center center #ff8a00;
}

.swiperBox .swiper-button-next {
	background: url(../images/icon_right.png) no-repeat center center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	right: -60px;
}

.swiperBox .swiper-button-next:hover {
	background: url(../images/icon_right-2.png) no-repeat center center #ff8a00;
}

.swiperBox i {font-size:14px;line-height:22px;display: block;color: #fff;position: absolute;top:10px;left:0;font-family: "微软雅黑";border-radius: 0 20px 20px 0;overflow: hidden;}
.swiperBox i em {display: block;width: 100%;height: 100%;position: relative;z-index: 1;padding-left: 6px;}
.swiperBox i em::before {position: absolute;top:0;left:0;background: #ff8a00;width: 100%;height: 100%;content: "";z-index: -1;}
.swiperBox i em b {position: relative;font-weight: normal;margin-right:15px;}

.swiperBox s {font-size:14px;line-height:22px;display: block;color: #fff;position: absolute;top:10px;right:0;font-family: "微软雅黑";border-radius: 10px 0 0 10px;overflow: hidden;text-decoration: none;}
.swiperBox s em {display: block;width: 100%;height: 100%;position: relative;z-index: 1;padding-right: 6px;}
.swiperBox s em::before {position: absolute;top:0;left:0;background: #ff8a00;width: 100%;height: 100%;content: "";z-index: -1;}
.swiperBox s em b {position: relative;font-weight: normal;margin-left:10px;}

.swiperBox .swiper-slide:hover i,.swiperBox .swiper-slide:hover s {
	opacity: 0;
}

.title-1 {
	padding: 40px 0 30px;
}

.title-1 h2, .title-1 h3 {
	text-align: center;
}

.title-1 h2 {
	font-size: 30px;
	margin-bottom: 5px;
}

.title-1 h2 a {
	color: #ff8a00;
}

.title-1 h3 {
	font-size: 16px;
	position: relative;
}

.title-1 h3 span {
	display: inline-block;
	position: relative;
}

.title-1 h3 span::before {
	content: '';
	display: block;
	width: 60px;
	height: 1px;
	background-color: #666;
	position: absolute;
	top: 12px;
	left: 0;
	margin-left: -80px;
}

.title-1 h3 span::after {
	content: '';
	display: block;
	width: 60px;
	height: 1px;
	background-color: #666;
	position: absolute;
	top: 12px;
	right: 0;
	margin-right: -80px;
}

.looked-more {
	height: 23px;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	opacity: .6;
	padding: 25px 0;
	letter-spacing: 1px
}

.looked-more a {
	position: relative;
	color: #666;
	transition: .15s ease-in;
	-moz-transition: .15s ease-in;
	-webkit-transition: .15s ease-in;
	-o-transition: .15s ease-in
}

.looked-more span {
	margin-left: 10px;
	transition: .15s ease-in;
	-moz-transition: .15s ease-in;
	-webkit-transition: .15s ease-in;
	-o-transition: .15s ease-in
}

.looked-more:hover {
	opacity: 1
}

.looked-more:hover a {
	left: -3px;
	color: #ff8a00
}

.looked-more:hover span {
	margin-left: 16px
}

.picsBox li {
	float: left;
	width: 340px;
	height: 512px;
	margin-right: 30px;
	position: relative;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .15);
	box-shadow: 0 0 4px rgba(0, 0, 0, .15)
}

.picsBox li:nth-child(4n) {
	margin-right: 0
}

.picsBox .hover-pop {
	width: 100%;
	position: absolute;
	top: 0;
	height: 100%
}

.picsBox .jump-details {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0
}

.picsBox .jump-details>img {
	width: 100%;
	height: 100%
}

.picsBox li:hover .pop-bot, .picsBox li:hover .pop-bot .down-btn, .picsBox li:hover .pop-tit, .picsBox li:hover .pop-tit .tit-name {
	opacity: 1
}

.picsBox li:hover .pop-bot .down-btn {
	bottom: 50px
}

.picsBox li:hover .pop-tit .tit-name {
	top: 0
}

.picsBox li:hover {
	transition: .3s ease-in;
	-webkit-transition: .3s ease-in;
	-moz-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, .2)
}

.picsBox .hover-pop .pop-bot, .picsBox .hover-pop .pop-tit, .picsBox .pop-bot .down-btn, .picsBox .pop-tit .tit-name {
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
	-moz-transition: .2s ease-in;
	-o-transition: .2s ease-in;
	opacity: 0
}

.picsBox .hover-pop .pop-bot, .picsBox .hover-pop .pop-tit {
	position: absolute;
	left: 0;
	z-index: 2;
	-webkit-border-radius: 8px;
	border-radius: 8px
}

.picsBox .hover-pop .pop-tit {
	width: 100%;
	height: 75px;
	padding: 20px 14px 20px 20px;
	top: 0
}

.picsBox .hover-pop .pop-bot {
	width: 100%;
	height: 75px;
	bottom: 0
}

.picsBox .hover-pop .pop-bot.gradient-ver-bw {
	background: transparent\9 \0;
	-webkit-filter: none\9 \0;
	filter: none\9 \0;
	-ms-filter: none\9 \0
}

.picsBox .pop-tit .tit-name {
	position: relative;
	top: -30px;
	width: 180px;
	color: #fff;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: block
}

.picsBox .pop-bot .down-btn {
	display: block;
	overflow: hidden;
	width: 232px;
	height: 56px;
	margin: 0 auto;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	color: #fff;
	font-size: 28px;
	text-align: center;
	line-height: 54px;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-filter: none\9 \0;
	filter: none\9 \0;
	-ms-filter: none\9 \0
}

.picsBox .pop-bot .down-btn:before {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .1)
}

.picsBox .pop-bot .down-btn:hover:before {
	display: block
}

.picsBox i {font-size:16px;line-height:26px;display: block;color: #fff;position: absolute;bottom:0px;left:0;font-family: "微软雅黑";border-radius: 0 20px 20px 0;overflow: hidden;}
.picsBox i em {display: block;width: 100%;height: 100%;position: relative;z-index: 1;padding-left: 6px;}
.picsBox i em::before {position: absolute;top:0;left:0;background: #ff8a00;width: 100%;height: 100%;content: "";z-index: -1;}
.picsBox i em b {position: relative;font-weight: normal;margin-right:15px;}

.picsBox s {font-size:16px;line-height:26px;display: block;color: #fff;position: absolute;bottom:0px;right:0;font-family: "微软雅黑";border-radius: 20px 0 0 20px;overflow: hidden;text-decoration: none;}
.picsBox s em {display: block;width: 100%;height: 100%;position: relative;z-index: 1;padding-right: 6px;}
.picsBox s em::before {position: absolute;top:0;left:0;background: #ff8a00;width: 100%;height: 100%;content: "";z-index: -1;}
.picsBox s em b {position: relative;font-weight: normal;margin-left:10px;}

.picsBox li:hover i,.picsBox li:hover s {
	opacity: 0;
}

.videoBox {position: relative;z-index: 10;}
.videoBox li {
	width: 340px;
	height: 192px;
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
}

.videoBox li:nth-child(4n) {
	margin-right: 0
}

.media .classify-banner {
	height: 220px;
	background: 0 0
}

.media .classify-banner>video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 8px;
	border-radius: 8px
}

.video .icon-shipin {
	font-size: 50px;
	top: 6px
}

.audio .icon-shengyin {
	font-size: 40px;
	top: 6px
}

.video .icon-yinle {
	top: 8px
}

.video-box {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	margin-right: 24px;
	-webkit-border-radius: 4px;
	border-radius: 4px
}

.video-box:hover .collect-icont, .video-box:hover .mask-box {
	opacity: 1
}

.video-box:hover .shade-box {
	opacity: 0
}

.video-box:nth-child(3n) {
	margin-right: 0
}

.video-box .video-titbox {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	-webkit-border-radius: 4px;
	border-radius: 4px
}

.video-box-hand {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	overflow: hidden;
	-webkit-border-radius: 4px;
	border-radius: 4px
}

.video-box:hover {
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .46);
	box-shadow: 0 0 16px rgba(0, 0, 0, .46);
	-webkit-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s
}

.icont-box {
	position: relative;
	z-index: 2
}

.video-icont {
	position: absolute;
	top: 15px;
	left: 20px
}

.mask-box {
	width: 72px;
	height: 28px;
	background-color: #ff960d;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	top: 10px;
	right: 50px;
	color: #fff;
	text-align: center;
	line-height: 28px;
	z-index: 2;
	cursor: pointer;
	opacity: 0
}

.icont-mask {
	background: rgba(255, 255, 255, .2);
	width: 72px;
	height: 28px;
	position: absolute;
	top: 0;
	z-index: 4;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: none
}

.download-icont {
	font-size: 16px;
	height: 28px;
	font-style: normal;
	background-repeat: no-repeat;
	background-position: 12px center;
	z-index: 9;
	position: absolute;
	left: 10px
}

.mask-box:hover .icont-mask {
	display: block
}

.collect-icont {
	width: 30px;
	height: 28px;
	background-color: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #999;
	font-size: 14px;
	font-style: normal;
	text-align: center;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: 8px center;
	z-index: 2;
	cursor: pointer;
	opacity: 0
}

.collect-icont:hover {
	color: #ff8a00
}

.video-box:hover .collect-icont {
	display: block
}

.collect-words {
	display: inline-block;
	vertical-align: center;
	font-size: 14px;
	margin-left: 4px
}

.shade-box {
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	color: #fff;
	font-size: 12px;
	/*padding: 0 20px;*/
	z-index: 2;
	background: #000;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .8)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .8)));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .8)));
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 100%);
	background: none\9\0;
	background-color: transparent\9\0;
	opacity: 1;
	-webkit-border-radius: 4px;
	border-radius: 4px
}

.shade-box span {
	position: absolute;
	bottom: 10px
}

.video-title {
	width: 104px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	color: #fff;
	padding: 0 20px;
}

.video-time {
	right: 20px
}

.video-play {
	height: 100%;
	overflow: hidden;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: relative
}

.video-play video {
	display: block;
	position: relative;
	top: 1px \9\0;
	height: 100%;
	width: 100%;
	-webkit-border-radius: 4px;
	border-radius: 4px
}

.show-image {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden
}

.show-image img {
	width: 100%;
	height: 100%
}

.pb-aside-right {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1002;
	width: 40px;
	height: 100%;
	text-align: center;
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

.pb-aside-right.isHide .aside-cot {
	display: none
}

.pb-aside-right .icons-menu-wrap {
	width: 40px;
	height: 38px;
	line-height: 38px;
	margin-top: 11px
}

.pb-aside-right .icons-menu-wrap>i {
	cursor: default
}

.pb-aside-right .aside-cot {
	position: absolute;
	top: 13.263157%;
	width: 100%;
	height: 73.8%;
	font-size: 12px;
	color: #666;
	background-color: #fff
}

.pb-aside-right .aside-cot>a {
	color: #666
}

.pb-aside-right .item-bottom, .pb-aside-right .item-top {
	padding-top: 20px;
	border-bottom: 1px solid #e5e5e5
}

.pb-aside-right .item-bottom>i, .pb-aside-right .item-top>i {
	font-size: 16px;
	cursor: pointer
}

.pb-aside-right .item-bottom>p, .pb-aside-right .item-top>p {
	letter-spacing: 1px
}

.pb-aside-right .item-top {
	height: 80px;
	cursor: pointer
}

.pb-aside-right .item-top>p {
	line-height: 30px
}

.pb-aside-right .item-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px
}

.pb-aside-right .item-bottom>p {
	line-height: 30px;
	cursor: pointer
}

.pb-aside-right .qq, .pb-aside-right .weixin {
	position: relative
}

.pb-aside-right .qq:hover .qq-hover-banner {
	left: -213px;
	opacity: 1
}

.pb-aside-right .qq-hover-banner, .pb-aside-right .weixin-img {
	z-index: -1;
	opacity: 0;
	-webkit-transition: .3s ease-out;
	-o-transition: .3s ease-out;
	transition: .3s ease-out
}

.pb-aside-right .qq-hover-banner:before, .pb-aside-right .weixin-img:before {
	position: absolute;
	right: -3px;
	top: 0;
	content: '';
	width: 3px;
	height: 100%
}

.pb-aside-right .weixin:hover .weixin-img {
	left: -203px;
	opacity: 1
}

.pb-aside-right .weixin .weixin-img {
	position: absolute;
	top: -47px;
	left: 0;
	width: 200px;
	height: 230px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: url(http://js.ibaotu.com/revision/img/weixin_new.png) center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100%;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	box-shadow: 0 0 15px rgba(0, 0, 0, .2)
}

.pb-aside-right .item-top, .pb-aside-right .toTop {
	background-color: #fff;
	cursor: pointer
}

.pb-aside-right .nor:hover>i, .pb-aside-right .nor:hover>p, .pb-aside-right .toTop:hover>i, .pb-aside-right .toTop:hover>p {
	color: #ff8a00
}

.pb-aside-right .company-vip {
	position: relative;
	height: 114px;
	overflow: hidden;
	border-bottom: 1px solid #fff;
	cursor: pointer
}

.pb-aside-right .company-vip:hover .pb-mask {
	opacity: .1
}

.pb-aside-right .company-vip .icons-comVip {
	margin: 24px 0 9px
}

.pb-aside-right .company-vip>p {
	line-height: 22px;
	color: #fff
}

.pb-aside-right .company-vip .pb-mask {
	z-index: 1;
	background: #fff
}

.pb-aside-right .toTop {
	position: absolute;
	bottom: 2.736842%;
	width: 100%;
	height: 95px;
	padding: 40px 0 37px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.pb-aside-right .qq-hover-banner {
	position: absolute;
	top: -53px;
	left: 0;
	width: 210px;
	height: 200px;
	padding: 2px 16px 0 18px;
	font-size: 12px;
	color: #666;
	background-color: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
	box-shadow: 0 0 15px rgba(0, 0, 0, .1)
}

.pb-aside-right .qq-hover-banner>ul>li {
	height: 38px;
	line-height: 20px;
	padding: 13px 0 5px;
	text-align: left;
	border-bottom: 1px solid transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.pb-aside-right .qq-hover-banner>ul>li .add-QQ {
	float: right;
	width: 44px;
	height: 100%;
	line-height: 18px;
	text-align: center;
	color: #666;
	border: 1px solid #666;
	-webkit-border-radius: 10px;
	border-radius: 10px
}

.pb-aside-right .qq-hover-banner .more-QQ {
	display: block;
	height: 12px;
	line-height: 12px;
	margin-top: 16px;
	color: #666
}

.pb-aside-right .qq-hover-banner .more-QQ:hover {
	color: #ff8a00
}

.leftMenu {
    position: fixed;
    overflow: hidden;
    left: 100px;
    top: 50%;
    /*bottom: 0;*/
    z-index: 32;
    margin: auto 0;
    width: 44px;
    /*height: 560px;*/
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    -webkit-transition: .4s ease-in;
    -o-transition: .4s ease-in;
    transition: .4s ease-in;
    /*opacity: 0;*/
    /*pointer-events: none*/
}
.leftMenu li {height: 80px;text-align: center;}

.pb-float-head {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0;
    background-color: #fff;
    z-index: 1001;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.logo-b2 {display: block;width: 154px;height: 54px;float: left;margin-top: 12px;}
.pb-float-head .float-head-nav {
    position: relative;
    width: 482px;
    float: left;
    height: 36px;
    padding-top: 30px;
    letter-spacing: 1px;
}
.pb-float-head .float-head-nav li {float: left;font-size: 16px;margin-left: 48px;position: relative;}
.pb-float-head .float-head-nav li:hover .nav-hover-banner{
	display: block;
}
.pb-float-head .float-search-input {
	margin-top: 17px;
	width: 530px;
    position: relative;
    float: left;
    margin-left: 45px;
}
.pb-float-head .float-search-input > input {
    width: 100%;
    height: 44px;
    /*padding-left: 30px;
    padding-right: 110px;*/
    font-size: 18px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    overflow: hidden;
    background-color: #e6e6e6;
    border: none;
    color: #666;
    text-indent: 10px;
    letter-spacing: 3px;
}
.pb-float-head .float-search-input .head-search-wrap {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100px;
    height: 44px;
    right: 0;
    background: #ffae12;
    background: -moz-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -webkit-gradient(linear, left, right, color-stop(0, #ffae12), color-stop(100%, #f07d17));
    background: -webkit-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -o-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -ms-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: linear-gradient(to right, #ffae12 0, #f07d17 100%);
    background: #ff8a00 \9 \0;
    -webkit-border-bottom-right-radius: 22px;
    border-bottom-right-radius: 22px;
    -webkit-border-top-right-radius: 22px;
    border-top-right-radius: 22px;
    cursor: pointer;
}
.pb-float-head .float-nav-item.nav-item-more .nav-hover-banner {
    position: absolute;
    display: none;
    left: -38px;
    top: 20px;
    width: 140px;
    z-index: 7;
    padding: 15px 0 3px;
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}
.pb-float-head .float-nav-item.nav-item-more .more-item {
    position: relative;
    width: 100%;
    height: 34px;
    padding-bottom: 6px;
    margin-bottom: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pb-float-head .login-register, .pb-float-head .user-info, .pb-float-head .user-notices, .pb-float-head .ver-line {
    display: inline-block;
    vertical-align: top
}

.pb-float-head .login-register {
    letter-spacing: 2px;
    font-size: 14px
}

.pb-float-head .login-register > a {
    float: left;
    color: #666;
    text-align: center
}

.pb-float-head .login-register .login {
    width: 62px;
    height: 26px;
    line-height: 24px;
    text-indent: 3px;
    color: #ff8a00;
    border: 1px solid #ff8a00;
    -webkit-border-radius: 12px;
    border-radius: 12px
}

.pb-float-head .login-register .login:hover {
    border: 0;
    color: #fff;
    background: #ffae12;
    background: -moz-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -webkit-gradient(linear, left, right, color-stop(0, #ffae12), color-stop(100%, #f07d17));
    background: -webkit-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -o-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -ms-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: linear-gradient(to right, #ffae12 0, #f07d17 100%);
    background: #ffae12 \9 \0
}

.pb-float-head .login-register .register {
    height: 16px;
    line-height: 16px;
    padding: 0 10px 0 12px;
    margin-top: 5px
}

.pb-head .login-register .register:hover {
    color: #ff8a00
}
.user-center {float: right;margin-top: 27px;}

#top {display: none;position: relative;z-index: 40;}

.pb-head {
    position: relative;
    height: 125px;
    padding-top: 33px;
    z-index: 8
}

.pb-head .logo-b-wrap {
    width: 100%;
    text-align: center
}

.pb-head .logo-b-wrap .logo-b {
    position: relative;
    display: inline-block;
    left: 14px
}

.pb-head .head-cot {
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 100%;
    height: 26px;
    font-size: 14px;
    z-index: 2
}

.pb-head .user-center {
    float: right;
    height: 100%;
    line-height: 26px;
    margin-top: 0;
}

.pb-head .user-center.noLogin > .login-register {
    display: inline-block
}

.pb-head .user-center.noLogin > .user-info {
    display: none
}

.pb-head .login-register, .pb-head .user-info, .pb-head .user-notices, .pb-head .ver-line {
    display: inline-block;
    vertical-align: top
}

.pb-head .login-register {
    letter-spacing: 2px;
    font-size: 14px
}

.pb-head .login-register > a {
    float: left;
    color: #666;
    text-align: center
}

.pb-head .login-register .login {
    width: 62px;
    height: 26px;
    line-height: 24px;
    text-indent: 3px;
    color: #ff8a00;
    border: 1px solid #ff8a00;
    -webkit-border-radius: 12px;
    border-radius: 12px
}

.pb-head .login-register .login:hover {
    border: 0;
    color: #fff;
    background: #ffae12;
    background: -moz-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -webkit-gradient(linear, left, right, color-stop(0, #ffae12), color-stop(100%, #f07d17));
    background: -webkit-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -o-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -ms-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: linear-gradient(to right, #ffae12 0, #f07d17 100%);
    background: #ffae12 \9 \0
}

.pb-head .login-register .register {
    height: 16px;
    line-height: 16px;
    padding: 0 10px 0 12px;
    margin-top: 5px
}

.pb-head .login-register .register:hover {
    color: #ff8a00
}

.indexHeader {    
	position: relative;
    width: 100%;
    padding-top: 28px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
}

.pb-nav .nav-wrap {
    position: relative;
    width: 100%;
    height: 24px;
}
.pb-nav .nav {
    position: relative;
    width: 100%;
    font-size: 16px;
    letter-spacing: 2px
}

.pb-nav .nav > ul {
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 0 90px 0 60px
}

.pb-nav .nav-item {
    position: relative;
    float: left
}

.pb-nav .nav-item > .nav-ppt {
    position: absolute;
    top: -14px;
    right: -9px;
    width: 41px;
    height: 22px;
    padding: 0;
    background: url(http://js.ibaotu.com/revision/img/public/PPT2.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}

.pb-nav .nav-item.nav-item-more:hover > a {
    color: #666
}

.pb-nav .nav-item.nav-item-more:hover .nav-hover-banner {
    display: block
}

.pb-nav .nav-item.nav-item-more .nav-hover-banner {
    position: absolute;
    display: none;
    top: 19px;
    left: -27px;
    z-index: 4;
    width: 140px;
    padding: 30px 0 0 0;
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1)
}

.pb-nav .nav-item.nav-item-more .more-item {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 24px;
    padding-bottom: 6px;
    margin-bottom: 17px
}

.pb-nav .nav-item.nav-item-more .more-item > a {
    float: left;
    width: 100%;
    height: 30px;
    line-height: 16px;
    padding-bottom: 6px;
    color: #666;
    letter-spacing: 2px
}

.pb-nav .nav-item.nav-item-more .more-item:hover > a {
    color: #ff8a00
}

.pb-nav .nav-item.nav-item-more .hoverline-wrap {
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 3px
}

.pb-nav .nav-item.nav-item-more .hoverline {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 2px;
    background-color: #ff8a00
}

.pb-nav .nav-item > a {
    display: block;
    height: 24px;
    line-height: 16px;
    padding: 0 29px;
    color: #666;
    cursor: pointer
}

.pb-nav .nav-item > a.active, .pb-nav .nav-item > a:hover {
    color: #ff8a00
}

.pb-nav .nav-item:first-child > a {
    padding-left: 0;
    padding-right: 47px
}

.pb-nav .nav-item:last-child > a {
    position: relative;
    top: -12px;
    font-size: 32px;
    padding-right: 0
}

.pb-nav .nav-item:hover .nav-hover-banner {
    display: block
}

.pb-nav .nav-item:nth-of-type(2) .nav-hover-banner {
    width: 290px;
    padding: 25px 28px 15px
}

.pb-nav .nav-item:nth-of-type(5) .nav-hover-banner {
    left: -89px
}

.pb-nav .nav-hover-banner.perVip {
    display: none;
    width: 290px;
    height: 150px;
    top: 24px;
    left: -82px;
    text-align: center;
    background: url(http://js.ibaotu.com/revision/img/public/per_vip_bg.png) center;
    padding: 0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-background-size: cover;
    background-size: cover
}

.pb-nav .nav-hover-banner.perVip.comVip {
    width: 300px;
    height: 270px;
    left: -87.5px;
    background: transparent url(http://js.ibaotu.com//revision/img/public/com.png) no-repeat
}

.pb-nav .perVip .btn-wrap {
    overflow: hidden;
    width: 200px;
    height: 46px;
    margin: 198px auto 0;
    line-height: 44px;
    text-align: center;
    -webkit-border-radius: 23px;
    border-radius: 23px
}

.pb-nav .perVip .add-perVip {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #ff8a00;
    font-weight: 700;
    letter-spacing: 3px;
    text-indent: 3px;
    background-color: #fff
}

.pb-nav .perVip.comVip .add-perVip {
    color: #d7a967
}

.pb-nav .perVip.comVip .add-perVip:hover {
    text-shadow: 0 3px 8px rgba(172, 128, 65, .5)
}

.pb-nav .perVip .add-perVip:hover {
    text-shadow: 0 3px 8px rgba(255, 138, 0, .5)
}

.pb-nav .hoverLine-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: -1
}

.pb-nav .hoverLine-wrap .hoverLine {
    position: absolute;
    bottom: 0;
    left: 185px;
    width: 80px;
    height: 2px;
    background-color: #ff8a00;
    opacity: 0
}

.pb-nav .nav-hover-banner {
    display: none;
    position: absolute;
    top: 24px;
    left: -80px;
    z-index: 7;
    padding: 25px 13px 15px;
    width: 290px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2)
}

.pb-nav .nav-hover-banner .hover-classify-one {
    height: 38px
}

.hover-classify-one .classify-item-wrap {
    float: left;
    width: 50%
}

.pb-nav .nav-item:nth-of-type(2) .hover-classify-one .classify-item-wrap {
    width: 117px
}

.pb-nav .classify-one-item {
    display: inline-block;
    vertical-align: top;
    margin-left: 26px;
    padding: 5px 14px;
    line-height: 14px;
    font-size: 14px;
    color: #666;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    letter-spacing: 0;
    margin-bottom: 10px
}

.pb-nav .classify-one-item:hover {
    background: #ff8a00 \9 \0;
    background: -moz-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -webkit-gradient(linear, left, right, color-stop(0, #ffae12), color-stop(100%, #f07d17));
    background: -webkit-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -o-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -ms-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: linear-gradient(to right, #ffae12 0, #f07d17 100%);
    -webkit-filter: none\9 \0;
    filter: none\9 \0;
    -ms-filter: none\9 \0;
    color: #fff;
    color: #ff8a00 \9 \0
}
.pb-nav .classify-two-ul .classify-two-ul-li > a:hover {
    background: -moz-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -webkit-gradient(linear, left, right, color-stop(0, #ffae12), color-stop(100%, #f07d17));
    background: -webkit-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -o-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -ms-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: linear-gradient(to right, #ffae12 0, #f07d17 100%);
    color: #fff;
    color: #ff8a00 \9 \0;
}
.pb-nav .classify-one-item:first-child {
    margin-left: 0
}

.pb-nav .classify-two-wrap:first-child {
    border-left: 0;
    padding-left: 0
}

.pb-nav .classify-two-wrap > a {
    display: block;
    height: 16px;
    line-height: 16px;
    margin: 5px 0 20px 14px;
    font-size: 16px;
    color: #ff8a00;
    font-weight: 700;
    text-indent: 8px;
    border-left: 2px solid #ff8a00
}

.pb-nav .classify-two-ul {
    overflow: hidden;
    font-size: 14px
}

.pb-nav .classify-two-ul > li {
    float: left;
    width: 50%;
    margin: 0 0 10px;
    letter-spacing: 0
}

.pb-nav .classify-two-ul > li > a {
    float: left;
    line-height: 14px;
    color: #666;
    padding: 5px 14px;
    -webkit-border-radius: 12px;
    border-radius: 12px
}

.pb-nav .classify-two-ul > li > a:hover {
    /*background: -moz-linear-gradient(left, #ffae12 0, #f07d17 100%);*/
    /*background: -webkit-gradient(linear, left, right, color-stop(0, #ffae12), color-stop(100%, #f07d17));*/
    /*background: -webkit-linear-gradient(left, #ffae12 0, #f07d17 100%);*/
    /*background: -o-linear-gradient(left, #ffae12 0, #f07d17 100%);*/
    /*background: -ms-linear-gradient(left, #ffae12 0, #f07d17 100%);*/
    /*background: -webkit-gradient(linear, left top, right top, from(#ffae12), to(#f07d17));*/
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));*/
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));*/
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));*/
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));*/
    /*background: linear-gradient(to right, #ffae12 0, #f07d17 100%);*/
    /*color: #fff;*/
    /*color: #ff8a00 \9 \0*/
}

.pb-nav .classify-one-item-diff {
    display: inline-block;
    vertical-align: top;
    height: 24px;
    padding: 5px 14px;
    line-height: 14px;
    font-size: 14px;
    color: #666;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    letter-spacing: 0;
    margin-bottom: 10px;
    color: #ff8a00;
}

.indexHeader {position: relative;z-index: 30;}

.home-search-wrap {
    position: relative;
    width: 1020px;
    height: 50px;
    margin: 26px auto 0;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background-color: #e6e6e6
}

.home-search-wrap > input {
    width: 746px;
    height: 38px;
    margin: 4px 0 0 30px;
    line-height: 28px;
    font-size: 18px;
    color: #666;
    letter-spacing: 3px;
    background-color: #e6e6e6;
    border: none;
}
.home-search-wrap .home-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 116px;
    height: 100%;
    background: #ffae12;
    background: -moz-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -webkit-gradient(linear, left, right, color-stop(0, #ffae12), color-stop(100%, #f07d17));
    background: -webkit-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -o-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -ms-linear-gradient(left, #ffae12 0, #f07d17 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ffae12), to(#f07d17));
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffae12), to(#f07d17));
    background: linear-gradient(to right, #ffae12 0, #f07d17 100%);
    -webkit-border-top-right-radius: 25px;
    border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

.banner-swiper {
	width: 1390px;
	height: 400px;
	position: relative;
	margin: 0 auto ;
	padding: 30px 0;
}

.banner-swiper .swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.banner-swiper .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.banner-swiper .swiper-button-prev {
	background: url(../images/icon_left.png) no-repeat center center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	left: 10px;
}

.banner-swiper .swiper-button-prev:hover {
	background: url(../images/icon_left-2.png) no-repeat center center #ff8a00;
}

.banner-swiper .swiper-button-next {
	background: url(../images/icon_right.png) no-repeat center center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	right: 10px;
}

.banner-swiper .swiper-button-next:hover {
	background: url(../images/icon_right-2.png) no-repeat center center #ff8a00;
}
.banner-swiper .swiper-pagination-bullet-active {
	padding: 0 8px;
	border-radius: 30px;
	transition: all 0.1s ease 0s;
	-ms-transition: all 0.1s ease 0s;
	-moz-transition: all 0.1s ease 0s;
	-webkit-transition: all 0.1s ease 0s;
	-o-transition: all 0.1s ease 0s;
}

@media screen and (max-width:1680px) {
	.wrap {
		width: 1200px;
		margin: 0 auto;
	}
	.swiperBox {
		height: 200px;
	}
	.picsBox li {
		width: 285px;
		height: 430px;
		margin-right: 20px;
	}
	.videoBox li {
		width: 285px;
		height: 160px;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.leftMenu {left:40px;}
	.pb-float-head .float-search-input {width: 355px;}
	.banner-swiper {
		width: 1140px;
		height: 328px;
		padding: 30px 0;
	}
	.pb-nav .nav-item:first-child > a {padding-right: 30px;}
	.pb-nav .nav-item > a {    padding: 0 20px;}
}

@media screen and (max-width:1440px) {
	.wrap {
		width: 1000px;
		margin: 0 auto;
	}
	.swiperBox {
		height: 165px;
	}
	.picsBox li {
		width: 235px;
		height: 354px;
	}
	.picsBox .pop-bot .down-btn {
		width: 166px;
		height: 40px;
		line-height: 38px;
		font-size: 20px;
	}
	.videoBox li {
		width: 235px;
		height: 132px;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.leftMenu {left:20px;}
	.pb-float-head .float-search-input {width: 270px;}
	.pb-float-head .float-head-nav {width: 364px;}
	.pb-float-head .float-head-nav li {margin-left: 24px;}
	.banner-swiper {
		width: 950px;
		height: 273px;
		padding: 30px 0;
	}
	.pb-nav .nav-item:first-child > a {padding-right: 20px;}
	.pb-nav .nav-item > a {    padding: 0 10px;}
	.home-search-wrap {width: 950px;}
}