<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"   content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <title>用户测试用例</title>
    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.5.1/skins/default/aliplayer-min.css" />
    <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.5.1/aliplayer-min.js"></script>
</head>
<body>
<div  class="prism-player" id="J_prismPlayer" style="position: absolute"></div>
<script th:inline="javascript">
    var  playAuth =[[${playAuth}]];
    alert(playAuth);
    var player = new Aliplayer({
        id: 'J_prismPlayer',
        width: '500px',
        height:"500px",
        autoplay: false,
        vid : '7f78577aa86c428aae7894bd2c08ff98',
        playauth : playAuth,
        useFlashPrism:true

    },function(player){
        console.log('播放器创建好了。')
    });
</script>
</body>
</html>
<script th:inline="javascript">

    function getAuth() {
        var url = "/getVideoAddressVo";
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: null,
            success: function (data) {
                args=data.data;
            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
        });


    }


</script>