<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"   content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <title>用户测试用例</title>
    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.5.1/skins/default/aliplayer-min.css" />
    <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.5.1/aliplayer-min.js"></script>
</head>
<body>
<div  class="prism-player" id="J_prismPlayer" style="position: absolute"></div>
<script th:inline="javascript">
    var  playAuth =[[${playAuth}]];
    alert(playAuth);
    var player = new Aliplayer({
        id: 'J_prismPlayer',
        width: '500px',
        height:"500px",
        autoplay: false,
        //支持播放地址播放,此播放优先级最高
//        source : 'http://zhibo.crionline.cn/AppName/StreamName.m3u8?auth_key=1521794659-0-0-c2780da7ee31eee566d9dbf693e5af2d',


        //播放方式二：点播用户推荐
        vid : '7f78577aa86c428aae7894bd2c08ff98',
        playauth : playAuth,

//        cover: 'http://liveroom-img.oss-cn-qingdao.aliyuncs.com/logo.png',
//        waterMark:"http://dongchics.oss-cn-hangzhou.aliyuncs.com/1.png|TL|1|0.5",

//    playsinline:true,
    //extraInfo:{"fullTitle":"我是标题","liveStartTime":"2017/08/17 12:00:00","liveOverTime":"2017/08/17 14:00:00"},
    //cover: "http://cdnoss.youkouyang.com/cover.png",
//        isLive: false,
        //useH5Prism:true,
        //preload: true,

    //format:'m3u8',
        //播放方式三：仅MPS用户使用
//        vid : '',
//        accId: '',
//        accSecret: '',
//        stsToken: '',
//        domainRegion: '',
//        authInfo: '',
//        //播放方式四：使用STS方式播放
//        vid : '',
//        accessKeyId: '',
//        securityToken: '',
//        accessKeySecret: ''
    },function(player){
        console.log('播放器创建好了。')
    });
</script>
</body>
</html>
<script th:inline="javascript">

    function getAuth() {
        var url = "/getVideoAddressVo";
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: null,
            success: function (data) {
                args=data.data;
            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
        });


    }


</script>